<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<h1 class = "title"> Sensor Charts</h1>
<div class="flex-container">
    <div class="topRight">
        <h2>Equipments</h2>
        <p id="equipmentList">Loading Equipments ...</p>
        <p id="averageValue">Average value: </p>
    </div>
    <div class="topLeft">
        <p>Select period:</p>
        <select id="periodDropdown">
            <option value="24h">24h</option>
            <option value="48h">48h</option>
            <option value="1w">1 week</option>
            <option value="1m">1 month</option>
        </select>
    </div>
</div>

<script>

    async function getEquipments() {
        const URL = "http://127.0.0.1:5000/equipments"
        const result = await fetch(URL)
        result.json().then(data => {
            console.log(data)
            $('#equipmentList').empty(); 
        
            $('#equipmentList').append('<ul>');
            data.equipment_ids.forEach(function(equipmentId) {
                $('#equipmentList').append(`<button id="listButton" value= ${equipmentId} onclick = "getAverageValue(value)">` + equipmentId + '</button>');
                // $('#equipmentList').append(`<button id="listButton" value=${equipmentId} onclick = "console.log(value)">` + equipmentId + '</button>');
            });
            $('#equipmentList').append('</ul>');
        })
    } 

    async function getAverageValue(equipmentId) {
        const URL = "http://127.0.0.1:5000/avg_value";
        const period = $('#periodDropdown').val();
        const params = { equipmentId: equipmentId , period: period };
        const queryString = new URLSearchParams(params).toString();

        try {
            const response = await fetch(`${URL}?${queryString}`);
            if (!response.ok) {
                throw new Error('Error: ' + response.statusText);
            }
        const data = await response.json();
        console.log(data);
        
        $('#averageValue').text('Average value (' + equipmentId +'): ' + data.avg_value);
        } catch (error) {
         console.error(error);
         $('#averageValue').text('Error (' + equipmentId +'): No data in selected period');
        }

      
        
    }
    

    $(document).ready(function() {
        getEquipments();
    });
</script>
</body>
</html>